* {
  margin: 200;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #412567;
  color: #ffffff;
}
.bro {
  color: #00ff00;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.btn {
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.btn.outline {
  background: transparent;
  border: 3px solid green;
  color: green;
 
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

