*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  }
header{
    background-color: #1A0B2E;
    width: 1600px;
    height: 92px;
    margin: 0 auto;
}

.nav-container{
    max-width: 1200px;
    margin: 0px auto;
    border: 1px solid #1A0B2E;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 30px;
}

.nav-content, .nav-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
}

.nav-menu a{
    text-decoration: none;
    color: white;

}

.text-wave-grd{
    background: linear-gradient( #F7E93F, #FB09B4, #9100F8);
      background-clip: text;
      color: transparent;
}

.btn-grd{
    background-color: red; 
    background-image: linear-gradient( #F7E93F, #FB09B4, #9100F8);
    width: 135px;
    height: 44px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.btn-grd:hover{
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
}

/* Banner Relative Section */
main{
    margin: 0 auto;
    width: 1600px;
    height: 760px;
    
}


.banner-background{
    position: relative;
    height: 100vh;
}

.banner-logo{
    position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip{
    background-color: #00FF88;
    position: absolute;
    left: 70%;
    width: 75px;
    height: 38px;
    border-radius: 20px;
    top: -250%;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.tooltip:hover{
    background: rgb(248, 245, 245);
    transform: translateY(-3px);
}

.banner-title{
    margin-top: 40px;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-techwave{
    width: 550px;
    height: 72;
    color: white;
    font-size: 60px;
    font-weight: 800px;
    
}

.banner-title>p{
    width: 550px;
    height: 20;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.623);
    margin-bottom: 20px;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.btn-grd2{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: red; 
    background-image: linear-gradient( #F7E93F, #FB09B4, #9100F8);
    width: 201px;
    height: 44px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    gap: 8px;
    cursor: pointer;
}

.btn-grd2:hover{
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
}

.btn-green:hover{
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
}


.btn-green{
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 44px;
    gap: 8px;
    color: #00FF88;
    background-color: rgba(128, 128, 128, 0);
    border-radius: 50px;
    cursor: pointer;
    
}


/* About Relative Section */

.about-section{
    width: 1600px;
    height: 647px;
    margin: -50px auto;
    background-color: #1A0B2E;
    
}
.about-text{
    margin: 50px auto;
    max-width: 1200px;
    align-items: center;
    text-align: center;
    border: 1px solid #1A0B2E;
    padding-top: 80px;
}

.about-text>h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.about-text>p{
    color: rgba(255, 255, 255, 0.582);
    font-size: 16px;
    line-height: 2;
    margin-bottom: 16px;
}

.about-score{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    max-width: 1200px;
    margin: 0px auto;
}

.score{
    color: #00ff8828;
    transition: color 0.3s ease;
}

.score:hover{
  color: rgb(211, 248, 2);
  transform: translateY(-3px); 
}

hr{
    max-width: 1200px;
    margin: 0 auto;
    border: none; 
    height: 2px; 
    background-color: rgba(252, 250, 250, 0.116);
}

.score-card>h1{
    font-size: 48px;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;
    cursor: pointer;
}

.score-card>p{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.685);
    margin-bottom: 16px;
}

/* Why Choose Relative Section */

.choose-section{
    width: 1600px;
    height: 1121px;
    margin: 0px auto;
    background-color: #230E3D;
    /* color: white; */
    
}

.choose-title{
    width: 1200px;
    height: 59px;
    font-size: 48px;
    font-weight: bold;
    color:white;
    margin:50px auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}


.card-section{
    width: 1200px;
    height: 783px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0 auto;
}

.card-section p{
    color: rgba(255, 255, 255, 0.521);
    font-size: 16px;
}

.card-choose1, .card-choose2, .card-choose3, .card-choose4, .card-choose5 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  border-radius: 5px;
  transform: translateY(0); 
  cursor: pointer;
}

.card-choose1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Deeper shadow */
  transform: translateY(-5px); /* Moves the card up slightly */
}
.card-choose2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Deeper shadow */
  transform: translateY(-5px); /* Moves the card up slightly */
}
.card-choose3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Deeper shadow */
  transform: translateY(-5px); /* Moves the card up slightly */
}
.card-choose4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Deeper shadow */
  transform: translateY(-5px); /* Moves the card up slightly */
}
.card-choose5:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Deeper shadow */
  transform: translateY(-5px); /* Moves the card up slightly */
}





.card-title{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0px;
}

.card-choose1{
    padding: 150px 30px;
    border-radius: 40px;
    background-color: #351165;
    
}

.card-choose2{
    padding: 50px;
    border-radius: 40px;
    background-color: #351165;
}

.card-choose3{
    padding: 50px;
    border-radius: 40px;
    background-color: #351165;
}

.card-choose4{
    padding: 50px;
    border-radius: 40px;
    background-color: #351165;
}
.card-choose5{
    padding: 50px;
    border-radius: 40px;
    background-color: #351165;
}

.card-choose1{
    grid-row: 1/span 2 ;
}

.card-choose2{
    grid-column: 2/span 2 ;
}

.card-choose3{
    grid-column: 2/span 2 ;
}
.card-choose4{
    grid-column: 1/span 2 ;
}


/* Features Relative Section */

.features-section{
    width: 1600px;
    height: 1276px;
    background-color: #1A0B2E;
    margin: 0 auto;
    
}

.feature-title{
    width: 1200px;
    height: 59px;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 6%;
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.featured-container{
    width: 1200px;
    height: 440px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.card-feature{
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 20px;
    /* border: 1px solid chartreuse; */
}

iframe{
    width: 380px;
    height: 214px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-img{
    color: #00FF88;
}

.card-feature>h2{
    width: 332px;
    height: 58px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 24px;
    margin-left: 24px;
}

.card-feature>p{
    width: 332px;
    height: 72px;
    line-height: 24px;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.466);
    margin-left: 24px;
}


/* Meet Relative Section */
.meet-container{
    width: 1200px;
    height: 280px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #250D44;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 40px;
}


.meet-heading{
    width: 1200px;
    height: 58px;
    margin: 0px auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 80px;
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.meet-social-icons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.meet-icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid #533C72;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}


.meet-icon i {
  background: linear-gradient( #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.meet-icon:hover {
  border-color: #533C72;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.meet-title>h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;

}
.meet-title>p{
    width: 896px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.479);
}

/* footer Relative Section */
footer{
    width: 1600px;
    height: 412px;
    margin: 0 auto;
}

.footer-techwave{
    align-items: center;
    text-align: center;
}



/* .footer-image{
position: absolute;
  bottom: -443.9%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


.footer-image{
;

  /* bottom: -443.9%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}



.footer-techwave{
    /* margin-top: 40px; */
    /* text-align: center; */
    position: absolute;
    top: 437%;
    left: 36%;
   
}

.footer-title{
    width: 550px;
    height: 72;
    color: rgb(253, 253, 253);
    font-size: 70px;
    font-weight: 800px;
    
}

/* .footer-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

.footer-wave{
    background: linear-gradient( #F7E93F, #FB09B4, #9100F8);
      background-clip: text;
      color: transparent;
}


.footer-icon{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
    margin-top: 32px;
    margin-bottom: 80px;
    
    
    
}

.footer-icon p{

    font-size: 16px;
    color: rgba(255, 255, 255, 0.521);
}

.icon-foot img{
    gap: 20px;
}

.footer-copy{
    font-size: 16px;
    color:  rgba(255, 255, 255, 0.521);

}



 /* Responsive Code */
/* @media screen and (max-width:576px) {
    .nav-content{
        display: none;
    }
    
    .hamburger{
    margin-right: 10px;
    display: inline;
}
} */